Repository Homebrew/brew, pull requests merged in 2020-08, with the labels that each got.

#8225 cask/create: update template to match new style
  Library/Homebrew/cask/cmd/create.rb
  Library/Homebrew/test/cask/cmd/create_spec.rb
Labels: cask

#8243 Fix “wrong number of arguments” error
  Library/Homebrew/reinstall.rb
Labels: bug

#8248 cask/dsl/base: fix undefined method `method_missing_message'
  Library/Homebrew/cask/dsl/base.rb
Labels: cask

#8251 keep BUNDLER_VERSION in sync with Gemfile.lock
  Library/Homebrew/utils/gems.rb
Labels: bug

#8137 Add a `desc` stanza to the cask DSL
  Library/.rubocop_cask.yml
  Library/Homebrew/cask/cask.rb
  Library/Homebrew/cask/cmd/create.rb
  Library/Homebrew/cask/dsl.rb
  Library/Homebrew/rubocops/cask/ast/cask_header.rb
  Library/Homebrew/rubocops/cask/constants/stanza.rb
  Library/Homebrew/rubocops/cask/desc.rb
  Library/Homebrew/rubocops/cask/mixin/on_desc_stanza.rb
  Library/Homebrew/rubocops/cask/stanza_grouping.rb
  Library/Homebrew/rubocops/cask/stanza_order.rb
  Library/Homebrew/rubocops/extend/formula.rb
  Library/Homebrew/rubocops/formula_desc.rb
  Library/Homebrew/rubocops/rubocop-cask.rb
  Library/Homebrew/rubocops/shared/desc_helper.rb
  Library/Homebrew/rubocops/shared/helper_functions.rb
  Library/Homebrew/test/cask/cmd/create_spec.rb
  Library/Homebrew/test/cask/cmd/list_spec.rb
  Library/Homebrew/test/cask/dsl_spec.rb
  Library/Homebrew/test/rubocops/cask/desc_spec.rb
  Library/Homebrew/test/rubocops/cask/no_dsl_version_spec.rb
  Library/Homebrew/test/rubocops/formula_desc_spec.rb
Labels: cask

#8265 Fix order and grouping of cask stanzas
  Library/Homebrew/rubocops/cask/constants/stanza.rb
Labels: cask

#8321 audit: check GitHub tags for prerelease status
  Library/Homebrew/dev-cmd/audit.rb
Labels: discussion

#8239 Use `CLI::Parser` for `cask` commands.
  Library/Homebrew/cask/auditor.rb
  Library/Homebrew/cask/cmd.rb
  Library/Homebrew/cask/cmd/--cache.rb
  Library/Homebrew/cask/cmd/abstract_command.rb
  Library/Homebrew/cask/cmd/audit.rb
  Library/Homebrew/cask/cmd/cat.rb
  Library/Homebrew/cask/cmd/create.rb
  Library/Homebrew/cask/cmd/doctor.rb
  Library/Homebrew/cask/cmd/edit.rb
  Library/Homebrew/cask/cmd/fetch.rb
  Library/Homebrew/cask/cmd/help.rb
  Library/Homebrew/cask/cmd/home.rb
  Library/Homebrew/cask/cmd/info.rb
  Library/Homebrew/cask/cmd/install.rb
  Library/Homebrew/cask/cmd/internal_help.rb
  Library/Homebrew/cask/cmd/internal_stanza.rb
  Library/Homebrew/cask/cmd/list.rb
  Library/Homebrew/cask/cmd/options.rb
  Library/Homebrew/cask/cmd/outdated.rb
  Library/Homebrew/cask/cmd/reinstall.rb
  Library/Homebrew/cask/cmd/style.rb
  Library/Homebrew/cask/cmd/uninstall.rb
  Library/Homebrew/cask/cmd/upgrade.rb
  Library/Homebrew/cask/cmd/zap.rb
  Library/Homebrew/cask/config.rb
  Library/Homebrew/cask/dsl.rb
  Library/Homebrew/cli/parser.rb
  Library/Homebrew/cmd/cask.rb
  Library/Homebrew/cmd/list.rb
  Library/Homebrew/cmd/reinstall.rb
  Library/Homebrew/cmd/uninstall.rb
  Library/Homebrew/cmd/upgrade.rb
  Library/Homebrew/dev-cmd/man.rb
  Library/Homebrew/env_config.rb
  Library/Homebrew/manpages/brew-cask.1.md
  Library/Homebrew/manpages/brew.1.md.erb
  Library/Homebrew/sorbet/files.yaml
  Library/Homebrew/test/cask/cmd/audit_spec.rb
  Library/Homebrew/test/cask/cmd/create_spec.rb
  Library/Homebrew/test/cask/cmd/doctor_spec.rb
  Library/Homebrew/test/cask/cmd/edit_spec.rb
  Library/Homebrew/test/cask/cmd/options_spec.rb
  Library/Homebrew/test/cask/cmd/outdated_spec.rb
  Library/Homebrew/test/cask/cmd/style_spec.rb
  Library/Homebrew/test/cask/cmd_spec.rb
  Library/Homebrew/test/cli/parser_spec.rb
  Library/Homebrew/test/support/helper/spec/shared_context/homebrew_cask.rb
  docs/Manpage.md
  manpages/brew-cask.1
  manpages/brew.1
Labels: cask

#8335 Show cask description in `brew cask info` command
  Library/Homebrew/cask/cmd/info.rb
  Library/Homebrew/test/cask/cmd/home_spec.rb
  Library/Homebrew/test/cask/cmd/info_spec.rb
  Library/Homebrew/test/cask/cmd/list_spec.rb
  Library/Homebrew/test/support/fixtures/cask/Casks/local-transmission.rb
Labels: cask

#8302 home: Deprecate brew cask home
  Library/Homebrew/cask/cmd/home.rb
  Library/Homebrew/cmd/home.rb
  Library/Homebrew/test/cask/cmd/home_spec.rb
  Library/Homebrew/test/cmd/home_spec.rb
Labels: cask

#8380 check_tmpdir_executable: Remove a stray call to undent
  Library/Homebrew/extend/os/linux/diagnostic.rb
Labels: bug

#8388 Cask audit help: breakup desc string
  Library/Homebrew/cask/cmd/audit.rb
Labels: cask

#7834 compare and display package versions
  Library/Homebrew/dev-cmd/bump.rb
  Library/Homebrew/test/dev-cmd/bump_spec.rb
  Library/Homebrew/test/utils/livecheck_formula_spec.rb
  Library/Homebrew/test/utils/repology_spec.rb
  Library/Homebrew/utils.rb
  Library/Homebrew/utils/livecheck_formula.rb
  Library/Homebrew/utils/repology.rb
  completions/internal_commands_list.txt
  docs/Manpage.md
  manpages/brew.1
Labels: enhancement

#8485 Use installed cask file for `brew cask zap`.
  Library/Homebrew/cask/cmd/uninstall.rb
  Library/Homebrew/cask/cmd/zap.rb
Labels: cask

#8470 audit: don't allow both sha256 and tag/revision for formula
  Library/Homebrew/rubocops/components_redundancy.rb
Labels: do not merge

#7213 Use patchelf.rb to set interpreter instead of patchelf. First step towards shelless elftools
  Library/Homebrew/extend/os/linux/keg_relocate.rb
  Library/Homebrew/os/linux/elf.rb
  Library/Homebrew/os/linux/global.rb
Labels: gsoc-outreachy

#8524 enable patchelf.rb writing for devs.
  Library/Homebrew/os/linux/global.rb
Labels: enhancement
