Repository Homebrew/brew, pull requests merged in 2025-07, with the labels that each got.

#20198 github_runner_matrix: fix skipped runner creation
  Library/Homebrew/github_runner_matrix.rb
  Library/Homebrew/simulate_system.rb
  Library/Homebrew/test/github_runner_matrix_spec.rb
  Library/Homebrew/test_runner_formula.rb
Labels: github_actions

#20210 Formula-Cookbook: improve download strategy info
  Library/Homebrew/cask/url.rb
  docs/Formula-Cookbook.md
Labels: documentation

#19984 utils/pypi: ensure pure Python wheels support py3
  Library/Homebrew/language/python.rb
  Library/Homebrew/utils/pypi.rb
Labels: python
